| Current user:
= current_user&.email
br
= link_to 'Admin panel', admin_dashboard_path
br
- if current_user
  = link_to 'log out', destroy_session_path(:user)
- else
  = link_to 'log in', new_session_path(:user)
